<style>
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        font-family: Arial, sans-serif;
        background-color: #f8f9fa;
    }
</style>

<div class="middle-content">
    <div class="container">
        <h1>Your account is pending approval</h1>
        <p>Your account request has been sent to the admin. You will be able to access your dashboard once it is
            approved.
        </p>

        <a href="/workspace/signout" class="btn btn-dark mb-2">Back to signin</a>
        <br>
        <p class="text-danger">Once the admin approved your request the you can enter to the dashboard through login</p>


    </div>
</div>