<!-- Login Wrapper Area -->
<div class="login-wrapper d-flex  align-items-center justify-content-center">
    <div class="custom-container">
        <div class="text-center px-4"><img class="login-intro-img" src="assets/img/bg-img/36.png" alt=""></div>
        <!-- Register Form -->
        <div class="card shadow p-4">

            <div class="register-form mt-4">
                <h6 class="mb-4 text-center">Hey User, Welcome<br> To Workspace</h6>
                {{#if signInErr}}

                <p class="text-danger text-center ">{{signInErr}}</p>

                {{/if}}
                <form action="/workspace/signup" method="POST">
                    <div class="row g-1">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <input class="form-control" type="text" name="Fname" placeholder="Your First Name">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <input class="form-control" type="text" name="Lname" placeholder="Your Last Name">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="email" name="Email" placeholder="Your Email">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="number" name="Phone" placeholder="Your Phone Number">
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" name="Address" placeholder="Your Address"></textarea>
                    </div>
                    <div class="row g-1">
                        <div class="col-lg-7">
                            <div class="form-group">
                                <input class="form-control" type="text" name="City" placeholder="Your City Name">
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <div class="form-group">
                                <input class="form-control" type="number" name="Pincode" placeholder="Your Pincode">
                            </div>
                        </div>
                    </div>
                    <div class="form-group position-relative">
                        <input class="form-control" id="psw-input" name="Password" type="password"
                            placeholder="Enter Password">
                        <div class="position-absolute" id="password-visibility"><i class="bi bi-eye"></i><i
                                class="bi bi-eye-slash"></i></div>
                    </div>
                    <button class="btn btn-dark w-100" type="submit">Signup</button>
                </form>
            </div>
            <!-- Login Meta -->
            <div class="login-meta-data text-center">
                {{!-- <a class="stretched-link forgot-password d-block mt-3 mb-1"
                    href="page-forget-password.html">Forgot Password?</a> --}}
                <p class="mb-0 mt-3" style="font-size: ;">Already have an account? <a class="stretched-link"
                        href="/workspace/signin">Signin Now</a>
                </p>
            </div>
        </div>

    </div>
</div>